@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome  @Environment.UserName</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Link to edit , delete button
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in Model.Employees)
                {
                    <tr>
                        <td>@emp.Id</td>
                        <td>@emp.name</td>
                        <td>@emp.email</td>
                        <td><a>Edit</a> <button type="submit">Delete</button>  </td>
                    </tr>
                }


                </tbody>
        </table>
        <a asp-page="./Create">Create</a>
    </form>
</div>
